# OS / editor
.DS_Store
Thumbs.db
*.swp
.idea/
.vscode/

# Temp
*.tmp
*.log

# Env
.env
server/.env
app/.env
app/.env.local

# App
app/node_modules/
app/dist/

# Server
server/node_modules/
server/dist/
server/*.tsbuildinfo

